* {
    margin: 0;
    padding: 0;
}
input {
    outline: none;
    border: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
img {
    outline: none;
    border: none;
}
i {
    font-style: normal;
}

// /deep/.el-icon-loading.el-loading-spinner .path {
//     stroke: #d33a31;
// }
// /deep/.el-icon-loading .el-loading-spinner .el-loading-text {
//     color: #d33a31;
// }